PORT=3006
DATABASE_URL="postgresql://${ANALYTICS_DB_USER}:${ANALYTICS_DB_PASS}@localhost:5436/analytics_db?schema=public"
SERVICE_NAME="analytics-service"
RABBITMQ_URL="amqp://${RABBITMQ_ADMIN_USER}:${RABBITMQ_ADMIN_PASS}@localhost:5672/distill"
